/* memefy css stylesheet */

#canvas {
  font-family: 'Open Sans', Sans-Serif;
  font-weight: light;
  position: relative;
  width: 938px;
  height: 558px;
  border: 5px solid #54585A;
  background-color: #9BCBEB;
}

#canvasHeader {
  position: absolute;
  height: 50px;
  width: 100%;
  top: 0px;
  left: 0px;
}

#canvasBody {
  position: absolute;
  height: 500px;
  width: 100%;
  top: 50px;
  left: 0px;
}

#canvasTitle {
  position: absolute;
  left: 25px;
  top: 5px;
  width: 100px;
  height: 25px;
}

#restriction {
  position: absolute;
  right: 150px;
  top: 12px;
  width: 200px;
  height: 25px;
  text-align: right;
}

#subCanvasTitle {
  position: absolute;
  right: 25px;
  top: -40px;
  width: 200px;
  height: 25px;
  text-align: right;
}

.allMemeTypes {
  position: relative;
  height: 500px;
  top: 0px;
  left: 0px;
}

.createMemeTypes {
  position: relative;
  height: 112.5px;
  width: 900px;
  top: 0px;
  left: 13px;
}

.memeCreateTypeImage {
  position: relative;
  float: left;
  width: 112.5px;
  height: 112.5px;
}

.memeDisplayTypeImage {
  position: relative;
  float: left;
  width: 225px;
  height: 250px;
}

.singleMeme {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 400px;
  height: 500px;
}

.allMemes {
  position: absolute;
  left: 450px;
  top: 0px;
  width: 450px;
  height: 500px;
  float: left;
}

.allMemes .leftNavigation {
  position: absolute;
  top: 200px;
  left: 0px;
  width: 80px;
  height: 80px;
  background-image: url("/img/leftarrow.png");
  background-size:80px 80px;
  background-repeat:no-repeat;
  opacity: .5;
}

.allMemes .rightNavigation {
  position: absolute;
  top: 200px;
  right: 0px;
  width: 80px;
  height: 80px;
  background-image: url("/img/leftarrow.png");
  background-size:80px 80px;
  background-repeat:no-repeat;
  opacity: .5;
}

.allMemes .individualMeme {
  position: absolute;
  width: 150px;
  height: 150px;
  font-size: 2px;
}

.memeImage {
  height: 100%;
  width: 100%;
}

.addMemeContainer {
  position: relative;
  height: 385px;
  width: 900px;
  top: 0px;
  left: 13px;
}

.addMemeMessage {
  position: relative;
  top: 100px;
  width: 400px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  padding-top: 13px;
}

.addMemeImageContainer {
  position: absolute;
  height: 380px;
  width: 448px;
}

.memeLineOne {
  position: absolute;
  width: 100%;
  height: 50px;
  top: 10px;
  left: 0px;
  color: white;
  font-size: 24px;
  text-align: center;
}

.memeLineTwo {
  position: absolute;
  width: 100%;
  height: 50px;
  bottom: 10px;
  left: 0px;
  color: white;
  font-size: 24px;
  text-align: center;
}

.addMemeImage {
  width: 325px;
  height: 325px;
}

.innerForm {
  position: relative;
  width: 400px;
  top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.addMemeTextContainer {
  position: absolute;
  height: 370px;
  width: 448px;
  top: 10px;
  right: 0px;
}

.memeHover {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 30px;
  width: 200px;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  z-index: 100;
  padding-top: 7px;
  font-size: 12px;
}

.domoAppHeader {
  font-size: 30px;
}

.domoSubHeader {
  font-size: 18px;
}

/*
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}
*/

