/* memefy css stylesheet */

#canvas {
  font-family: 'Open Sans', Sans-Serif;
  font-weight: light;
  position: relative;
  width: 938px;
  height: 558px;
  border: 5px solid #54585A;
  background-color: #9BCBEB;
}

#canvasHeader {
  position: absolute;
  height: 50px;
  width: 100%;
  top: 0px;
  left: 0px;
}

#canvasBody {
  position: absolute;
  height: 455px;
  width: 100%;
  top: 50px;
  left: 0px;
}

#canvasFooter {
  position: absolute;
  height: 45px;
  width: 100%;
  bottom: 0px;
  left: 0px;
}

#canvasTitle {
  position: absolute;
  left: 25px;
  top: 5px;
  width: 100px;
  height: 25px;
}

#restriction {
  position: absolute;
  right: 150px;
  top: 12px;
  width: 200px;
  height: 25px;
  text-align: right;
}

#subCanvasTitle {
  position: absolute;
  right: 25px;
  top: -40px;
  width: 200px;
  height: 25px;
  text-align: right;
}

#seeAllMemes {
  position: absolute;
  left: 10px;
  top: 5px;
}

#createAMeme {
  position: absolute;
  right: 10px;
  top: 5px;
}

.allMemeTypes {
  position: relative;
  height: 450px;
  width: 910px;
  top: 0px;
  left: 10px;
}

.createMemeTypes {
  position: relative;
  height: 112.5px;
  width: 900px;
  top: 0px;
  left: 5px;
}

.memeCreateTypeImage {
  position: relative;
  float: left;
  width: 112.5px;
  height: 112.5px;
}

.memeDisplayTypeImage {
  position: relative;
  float: left;
  width: 205px;
  height: 205px;
  margin: 10px;
}

.singleMeme {
  position: absolute;
  left: 10px;
  top: 0px;
  width: 450px;
  height: 450px;
  font-size: 24px;
}

.allMemes {
  position: absolute;
  left: 500px;
  top: 0px;
  width: 410px;
  height: 410px;
  float: left;
}

.allMemes .individualMeme {
  position: relative;
  width: 125px;
  height: 125px;
  margin: 5px;
  float: left;
}

.memeLineOne {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  color: white;
  text-align: center;
  overflow: hidden;
  line-height: 105%;
  text-shadow: 2px 2px 0 #000;
  font-size: 9.75px;
}

.memeLineTwo {
  position: absolute;
  width: 100%;
  bottom: 0px;
  left: 0px;
  color: white;
  text-align: center;
  overflow: hidden;
  line-height: 105%;
  text-shadow: 2px 2px 0 #000;
  font-size: 9.75px;
}

.singleMeme .individualMeme .memeLineOne, .singleMeme .individualMeme .memeLineTwo {
  font-size: 35.5px;
}

.addMemeImageContainer .memeLineOne, .addMemeImageContainer .memeLineTwo {
  font-size: 24px;
}

.memeImage {
  height: 100%;
  width: 100%;
}

.addMemeContainer {
  position: relative;
  height: 385px;
  width: 900px;
  top: 0px;
  left: 0px;
}

.addMemeMessage {
  position: relative;
  top: 100px;
  width: 400px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  padding-top: 13px;
}

.addMemeImageContainer {
  position: absolute;
  top: 10px;
  height: 305px;
  width: 305px;
  left: 75px;
}

.addMemeImage {
  width: 100%;
  height: 100%;
}

.innerForm {
  position: relative;
  width: 400px;
  top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.addMemeTextContainer {
  position: absolute;
  height: 370px;
  width: 448px;
  top: 10px;
  right: 0px;
}

.memeHover {
  position: absolute;
  top: 10px;
  left: 2px;
  height: 30px;
  width: 200px;
  text-align: center;
  background-color: white;
  border-radius: 5px;
  z-index: 100;
  padding-top: 7px;
  font-size: 12px;
}

.domoAppHeader {
  font-size: 30px;
}

.domoSubHeader {
  font-size: 18px;
}

.memeChevronLeft {
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  left: 0;
}

.memeChevronRight {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  right: 0;
}

.memeChevron {
  background-color: #E0E0E0;
  opacity: .5;
  display: block;
  height: 150px;
  margin-top: 130px;
  position: absolute;
  text-align: center;
  width: 25px;
}

.memeChevron:hover {
  opacity: 1;
}

.memeChevron i.memeChevron {
  color: #8A8D8F;
  font-size: 16px;
  margin-top: 67px;
  height: 50px;
}

a {
  color: #2685C4;
  cursor: pointer;
  text-decoration: none;
}

